.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--hover-color);
  color: var(--text-color);
  padding: 0.9em 10em;
  position: sticky;
  top: 0;
  z-index: 100;
  animation: color_change 3s infinite alternate;
}

@keyframes color_change {
  0% {
    background-color: var(--background-color);
  }
  100% {
    background-color: var(--hover-color);
  }
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--text-color);
}

.title {
  width: 5rem;
  margin-left: 0.3em;
}

.menu {
  display: flex;
  width: 100%;
  margin-right: 1.5em;
  justify-content: flex-end;
}

.text {
  display: flex;
  justify-content: center;
  width: 7rem;
  margin: 0 1em;
  padding: 0.5em 1em;
  cursor: pointer;
}

.text:hover {
  background-color: var(--button-color);
  border-radius: 8px;
}

.inquiry {
  width: 9rem;
  height: 2.5rem;
  margin: 0 1em;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--button-text-color);
  cursor: pointer;
}

.calling {
  display: none;
}

.burger,
.times,
.burger_active,
.times_active {
  display: none;
}

.offcanvas {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.9em 1.5em;
  }

  .menu {
    display: none;
  }

  .menu_active {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-size: 1.2rem;
    font-weight: 300;
    align-items: center;
    padding: 2em 0 1.5em 0;
  }

  .text {
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    margin: 0.2em 0;
    width: 100%;
  }

  .text:hover {
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 8px;
  }

  .text:active {
    background-color: var(--button-color);
  }

  .inquiry {
    width: 9rem;
    height: 3rem;
    display: block;
    position: fixed;
    bottom: 0.8em;
    left: 0.8em;
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--calling-color);
  }

  .calling {
    width: 9rem;
    height: 3rem;
    margin: 0 1em;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    display: block;
    position: fixed;
    bottom: 0.8em;
    right: 0.8em;
    background-color: var(--calling-color);
  }

  .burger_active {
    display: inline-block;
    position: absolute;
    right: 1.1em;
    top: 0.6em;
    font-size: 1.5em;
    color: var(--text-color);
    cursor: pointer;
    animation: spin 1s;
  }

  .times_active {
    display: inline-block;
    position: absolute;
    right: 1.01em;
    top: 0.43em;
    font-size: 1.7em;
    color: var(--text-color);
    cursor: pointer;
    animation: spin 1s;
  }

  .offcanvas {
    display: block;
  }

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(180deg);
    }
  }
}
