:root {
  --text-color: #ffffff;
  --background-color: #4527a0;
  --border-color: #000070;
  --hover-color: #7953d2;
  --button-text-color: #000070;
  --button-color: #38006b;
  --sns1-color: #d3b8ae;
  --sns2-color: #a6bfcc;
  --icon-color: #757575;
  --service-color: #efebe9;
  --footer-color: #424242;
  --calling-color: #536dfe;
}

.app {
  display: flex;
  flex-direction: column;
}
